* {
  box-sizing: border-box;
}


body {
  url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg')
  margin: 0;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif!important;
  background-color: #D8D8D8;
}
.container {
  background-color: white;
  overflow: hidden;
  padding: 0!important;
  margin: auto;
  width: 100%!important;
  max-width: 1400px;
}

a:hover {
  text-decoration: none;
}

#nav-icon3{
  width: 30px;
  height: 40px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  float: right;
  margin-right: 15px;
  margin-top: 3%;
}

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #f5f5f5;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


/* Icon 3 */

#nav-icon3 span:nth-child(1) {
  top: 8px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 18px;
}

#nav-icon3 span:nth-child(4) {
  top: 28px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}


/******** Header ************/
.main-header {
  background-color: #00C09C;
  /*overflow: hidden;*/
  padding: 10px;
  margin-bottom: 1px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.main-logo {
  width: 51%;
  max-width: 250px;
  float: left;
}

.main-nav {
  clear: both;
  margin-top: 60px;
  display: none;
}
.main-nav li{
  border-bottom: solid 1px white;
}
.main-nav a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 1em;
  display: block;
  text-transform: uppercase;
  display: inline-block;
}
.main-nav li:hover > a {
  color:#7FF4C7;
}
.main-nav li:hover{
  cursor: pointer;
}


/*
.first-level-nav li{
  display: inline-block;
  background-color: #222;
  position: relative;
  transition: 300ms;
}
.first-level-nav li:hover{
  background-color: #ccc;
}
.drop-nav{
  position: absolute;
  width: 100%;
  display: none;
}
.drop-nav li{
  display: block;
}*/

.drop-nav {
  position: absolute;
  right: 0;
  z-index: 2;
  background-color: white;
  margin-top: 2%;
  width: 50%;
  padding: 5px 2%;
  /*display: none;*/
}
.drop-nav:after {
				content: "";
				display: inline-block;
				border-style: solid;
        border-width: 20px;
        border-color: transparent transparent white transparent;
        position: absolute;
        top: -23%;
        right: 2%;
}

.drop-nav a {
  color: #4e4e4e;
  font-size: 0.8em;
  font-weight: bold;
  text-transform: capitalize;
  padding: 0 !important;
}

.first-level-nav {
  text-align: right;
  display: flex;
  flex-direction: column;
}
.first-level-nav li{
  display: inline-block;
  position: relative;
  transition: 300ms;
}
/*.first-level-nav li:hover{
  background-color: #ccc;
}*/

.drop-container ul li {
  border-bottom: 1px solid rgba(78, 78, 78, 0.35);
  display: block;
  padding: 15px 0;
  width: 100%;
}
.drop-container ul li:last-child {
  border-bottom:0;
}
.drop-container ul li:hover{
  color:#008cd4;
}


.drop-container > .drop-nav {
  visibility:hidden;
  opacity:0;
  transition:visibility 0s linear 0.5s,opacity 0.5s linear;
}
.drop-container:hover > ul {
  visibility:visible;
  opacity:1;
  transition-delay:0s;
}
/*background-color: #00BCD4;*/




/********Home Main Carousel && Nosotros Main Banner************/
/********Product Banner*************/ /************Section 1************/
/******** contact banner************/
.all-banners{
  position: relative;
  overflow: hidden;
}
.all-banners ul, .all-banners il {
  position: relative;
}
.all-banners li {
  right: -100%;
  width: 100%;
}

.main-banner {
  position: relative;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 36% 2% 23%;
  background-image: url(../img/home/carrusel1.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 60% 0%;
}

#main-banner2{
  background-image: url(../img/home/carrusel2.jpg);
  background-position: 32% 0%;
}
#main-banner3{
  background-image: url(../img/home/carrusel3.jpg);
}

.main-banner h2,
.nosotros-banner h2,
.contact-banner h2 {
  font-size: 1.7em;
  line-height: 1em;
  margin: 0;
  font-weight: bold;
}
.main-banner h5,
.nosotros-banner h5,
.contact-banner h5 {
  font-size: 0.7em;
  font-weight: bold;
}

.inter-banner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.nosotros-banner {
  background-image: url(../img/quienes-somos/banner1.jpg);
  background-size: cover;
  background-position: center;
  padding: 10% 2%;
}
.contact-banner {
  background-image: url(../img/contacto/banner.jpg);
  background-size: cover;
  background-position: center;
  padding: 6% 2%;
  text-align: center;
  font-size: 3em;
  color: white;
}
.skills-section-products {
  display: flex;
  justify-content: space-around;
}
.skills-articles-products {
  width: 30%;
}
.skills-articles-products img {
  width: 65px;
}
.skills-articles-products p {
  font-size: 0.8em;
}

.flecha {
  position: absolute;
  margin-top: 38%;
  z-index: 3;
  cursor: pointer;
}
.flecha-izq {
  margin-left: 2%;
}
.flecha-der {
  right: 0;
  margin-right: 2%;
}


.button-banner {
  color: #00c09c;
  background-color: white;
  border: 0;
  border-radius: 13px;
  width: 160px;
  height: 35px;
  font-weight: bold;
  cursor: pointer;
  text-transform: uppercase;
  margin: 30px;
  position: relative;
}

.product-banner {
  background-image: url(../img/productos/cabecera.jpg);
  background-size: cover;
  padding: 2% 0;
  text-align: center;
  color: white;
  background-position: 41% 0;
}
/*.product-banner {
  background-image: url(../img/productos/cabecera.jpg);
  text-align: center;
  color: white;
}
.product-banner h4 {
  margin: 0
}

.skills-section-products {
  display: flex;
  justify-content: space-around;
}
.skills-articles-products {

}*/



/******** Home Skills && Nosotros About
/******** Product Catalogo **********Section 2 ************/
/******** Product *********/

.skills-section {
  padding: 0 12.5%;
  text-align: center;
}

.skills-articles {
  text-align: center;
  color: #4A4A4A;
  padding-top: 30px;
}

.skills-articles img {
  width: 95px;
}

.skills-articles h4 {
  margin: 3px;
  font-size: 1.33333333333em;
}
.skills-section .button-banner {
  color: white;
  background-color: #00c09c;
}
.about {
  padding: 35px 7%;
  text-align: center;
}
.about h3 {
  font-weight: bold;
}
.about p {
  font-size: 1.3em;
}

.products-title-and-logo {
  text-align: center;
}
.products-title-and-logo img {
  border-top: solid 1px #e3e3e3;
  max-width: 100%;
}
.catalogo-container h2,
.containerProduct h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  color: #4e4e4e;
}

.containerProducts,
.buttons-catalog-product {
  width: 80%;
  margin: auto;
}
/*.containerProducts .carousel-inner .item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}*/
.catalog-product {
    width: 100%;
    padding: 0.5%;
    margin-top: 2%;
    background-color: #E3E3E3;
    float: left;
    height: 370px;
    text-align: center;
    position: relative;
}
.catalog-product:hover{
    border: 3px solid #00c09c;
}


.catalog-product img {
  width: 100% !important;
}
.catalog-product-title,
.catalogo-container {
  color: #585858;
}
.catalog-product-title{
  position: relative;
}
.catalog-product-title h4 {
  font-weight: bold;
  font-size: 1.3em;
  text-transform: uppercase;
}
.catalog-product input {
  border: none;
  background-color: white;
  color: #00c09c;
  position: absolute;
  bottom: 10%;
  left: 32%;
}

.containerProducts ol {
  padding: 0;
  margin-top: 20px;
}
.buttons-catalog-product {
  display: flex;
  padding: 2% 0;
}
.button-catalogo-page {
  margin-right: 0.5%;
  width: 30px;
}
.button-catalogo-next {
  margin-left: auto;
}
.button-catalogo-page,
.button-catalogo-next {
  background-color: #585858;
  color: white;
  border: none;
  padding: 5px;
  font-weight: bold;
}

.product-description h2 {
  color: #00c09c;
  text-align: left;
}
.product-description ul {
  margin: 20px 0;
}


/********Home Category Products && Nosotro Middle Banner Section 3 ************/
.home-products {
  text-align: center;
  background-color: #C3C3C3;
  padding: 35px 0;
}
.home-products h3,
.about h3 {
  margin: 0;
  margin-bottom: 35px;
  font-size: 1.9em;
  color: #4E4E4E;
}

.img-category {
  width: 100%;
}

.category-products {
  width: 256px;
  margin:20px auto;
  text-align: center;
  cursor: pointer;
}
.category-products:hover .category-title{
  color: #7FF4C7;
}
.category-title {
  color: white;
  background-color: #00be9c;
  margin-top: -4px;
  padding: 1% 0;
}
.category-title h4 {
  margin: 0;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: bold;
}

.nosotros-middle-banner {
  background-image: url(../img/quienes-somos/banner-middle.jpg);
  background-size: cover;
  height: 30vh;
}




/******** Home Testimony && Nosotros Areas Section 4 ************/
.testimony {
  padding: 0 25px;
  margin-bottom: 40px;
}
.testimony h3,
.areas h3 {
  text-align: center;
  color: #00be9c;
  font-size: 1.9em;
}
.img-testimony {
  width: 30%;
  float: left;
  margin-right: 5%;
}
.testimony p,
.about p {
  color: #5A5A5A;
  text-align: justify;
}
.testimony p:nth-of-type(2){
  color: #ff336d;
}

.areas h4 {
  text-align: center;
  font-size: 1.2em;
  color: #5A5A5A;
}
.areas img {
  display: none;
}





/******** Home Banner Botton && Nosotros Carousel Section 5 ************/
/******* indicator balls of carousel, nosotros, product **********/
hr {
  width: 80%;
  color: #c3c3c3;
}

.foot-banner {
  height: 70vh;
  background-image: url(../img/home/banner-footer.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: none;
}

.nosotros-carousel {
  margin-bottom: 140px;
}
.img-carousel-nosotros,
.img-carousel-product {
  width: 50%;
  margin: auto;
}
.img-carousel-nosotros img,
.img-carousel-product img {
  width: 100%;
}

.nosotros-carousel .carousel-indicators,
#productCarousel .carousel-indicators {
  position: absolute!important;
  bottom: -90px!important;
}
.nosotros-carousel .carousel-indicators li,
#productCarousel .carousel-indicators li {
  background-color: #9E9E9E!important;
  border: none!important;
  width: 15px!important;
  height: 15px!important;
  margin-right: 10px!important;
}
.nosotros-carousel .carousel-indicators .active,
#productCarousel .carousel-indicators .active {
  background-color: #00A788!important;
}

.indicator-next-prev-product {
  position: absolute;
  top: 40%;
  width: 100%;
}
.indicator-next-prev-product span{
  color: #00c09c;
  font-size: 3em;
}
.indicator-next-prev-product a.left{
  left: 7%;
}
.indicator-next-prev-product a.right{
  right: 7%;
}

#productCarousel {
  margin-bottom: 9%;
}



/******** Contact Form Section 6 ************/

.contact {
  padding: 0 20px;
  margin-bottom: 40px;
}
.contact h3 {
  text-align: center;
  font-size: 1.9em;
  color: #4e4e4e;
}

#contactForm {
  text-align: center;
  margin-bottom: 30px;
}
#contactForm input, textarea{
  border: solid 2px #c0c0c0;
  height: 35px;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px;
  font-family: sans-serif;
}
#contactForm textarea {
  height: 116px;
  resize: none;
}
#contactForm #submit-button {
  color: #00be9c;
  background-color: white;
  border: 3px solid #00be9c;
  width: 80px;
  cursor: pointer;
}

.location div {
  color: #5A5A5A;
  margin-bottom: 20px;
  text-align: center;
  padding: 2% 0;
}
.location img {
  display: block;
  margin: auto;
}






/******** Footer ************/
.main-footer {
  background-color: #00be9c;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4% 14%;
  text-align: center;
}

.left-footer img {
  width: 235px;
}

.main-footer p {
  margin: 0;
  color: white;
}


.contact-info {
  margin: 15px;
}
.location-info {
  margin-left: 15px;
}
.right-footer {
  display: inline-block;;
  padding-top: 2.5%;
  text-align: center;
}
.right-footer span:nth-child(2){
  display: none;
}
.right-footer p {
  font-size: 0.7em;
}

.button-facebook {
  border: 2px solid white;
  display: inline-block;
  border-radius: 8px;
  color: white;
  padding: 0 12px;
  margin: 30px 0;
}
.button-facebook:hover {
  background-color: white;
  color: #00be9c;
}
.icon-facebook-circled {
  font-size: 3em;
  vertical-align: middle;
}
